@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Orbitron&display=swap');

:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e76f51;
    --dark-color: #264653;
    --light-color: #f8edeb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    height: 100px;
}

main {
    background-color: var(--light-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

h1, h2 {
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0;
    color: var(--dark-color)
}

a {
    text-decoration: none; /*Remove underline from links*/
    color: var(--dark-color);
}

i {
    color: var(--dark-color);
    border-radius: 10px;
    border: none;
    padding: 20px;
    text-align: center;
}

.icons i:hover {
    color: var(--primary-color);
    transform: scale(0.95);
    transition-duration: 0.6s;
}

/* Header styling */
.header .flex {
    justify-content: left;
    align-content: center;
}

.header .logo {
    color: var(--light-color);
}


/* Icons styling */

.icons {
    height: 25vh;
    margin: 40px;
    padding: 20px;
    visibility: hidden;
}

.icons .container {
    justify-content: space-between;
}

.choices {
    height: 30vh;
    margin: 40px;
    padding: 20px;
    visibility: hidden;
}

.choices .container {
    justify-content: space-around;
}

.your-choice{
    opacity: 0;
}

.computers-choice{
    opacity: 0;
}

.winner .flex-center {
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.winnerText {
    font-family: 'Caveat', cursive;
    opacity: 0;
}


/* Utilities styling */

.container {
    max-width: 1100px;
    margin: 0 auto; /*Stretch beyond 1100px --> container will stay at 1100 px*/
    overflow: auto; /*Remove 10px margin height defined for h1*/
    padding: 0 40px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
}

.btn {
    display: inline-block;
    font-size: 2.5rem;;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    visibility: visible;
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--light-color) solid;
}

.btn:hover {
    transform: scale(0.95); /*Make button a bit smaller when hovered over*/
    transition-duration: 0.3s;
}

.text-center {
    text-align: center;
}


.bg-dark, 
.btn-dark {
    background-color: var(--dark-color);
    color: var(--light-color);

}

/* Text sizes */
.md {
    font-size: 2rem;
}

.lg {
    font-size: 2.5rem;
}

.xl {
    font-size: 3.5rem;
}
