@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
    --green-color: #118e64;
    --red-color: #c20d06;
    --yellow-color: #ffbf17;
    --blue-color: #0d53b0;
    --dark-color: #03071e;
    --light-color: #ffe8d6;

    --font-family: 'Cinzel', serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: auto;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: var(--light-color);
    background: url(./images/table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-color);
    line-height: 1.6;
}

header {
    background-color: var(--dark-color);
    width: 100%;
    height: 100px;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 20px 0;
    color: var(--light-color);
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px 0;
    color: var(--light-color);
    text-shadow: 1px 1px 1px #03071e;
}

h2 span {
    text-shadow: 1px 1px 1px #03071e;
}

a {
    text-decoration: none; /*Remove underline from links*/
    color: var(--dark-color);
}

.wins,
.losses,
.draws {
    margin: 0px 50px;
}

.header .flex {
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.header h1,
.header h2 {
    color: var(--light-color);
    font-weight: 600;
}

.hit {
    background: var(--blue-color);
}

.stand {
    background: var(--yellow-color);
}

.deal {
    background-color: var(--red-color);
}

.restart {
    background-color: var(--green-color);
}

.row-1 {
    width: auto;
    justify-content: center;
    align-self: center;
    margin: 25px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border: none;
    border-radius: 15px;
    z-index: 100;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    height: 400px;
    text-align: center;
}

.row-2 h2 {
    font-size: 2rem;
}

.row-2 img {
    padding: 10px;
    width: 135px;
    object-fit: contain;
}

.row-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 40px;
}

.your-box,
.dealer-box {
    width: 420px;
    height: 460px;
}

/* Utilities styling */

.container {
    max-width: 1100px;
    max-height: 850px;
    margin: 0 auto; /*Stretch beyond 1100px --> container will stay at 1100 px*/
    text-align: center;
    overflow: auto; /*Remove 10px margin height defined for h1*/
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    font-size: 1.4rem;;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    color: var(--light-color);
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--light-color) solid;
}

.btn:hover {
    transform: scale(0.95); /*Make button a bit smaller when hovered over*/
    transition-duration: 0.3s;
}

.text-center {
    text-align: center;
}

.bg-dark, 
.btn-dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Text sizes */
.md {
    font-size: 2rem;
}

.lg {
    font-size: 2.5rem;
}

.xl {
    font-size: 3.5rem;
}
